img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	max-height: 120px;
	}
h1	{
	text-align: center;
	color: #203050;
	font-style: normal;
	}
a:link 	{
			color: red;
			}
a:hover 	{
			color: red;
			}
a:active	{
			color: red;
			}
a:visited 	{
			color: red;
			}
span{
	color: #ff9900;
	font-style: normal;
	}
@keyframes move{
	from{right: -30px}
	to{right: 30px;}
}
@keyframes title{
	0%{
		color: red; background-color: #F9E559;
	}
	25%{
		color: blue; background-color: #FFFFFF;
	}
	50%{
		color: yellow; background-color: #F8DEBD;
	}
	75%{
		color: red; background-color: #FFFFFF;
	}
	100%{
		color: blue; background-color: #F9E559;
	}
}
h1{animation: title 10s ease infinite; }
.mt{
	max-width: 80%;
	float: left;
	height: 200px;
	width: 400px;
	padding: 5px;
	margin: 2px;
	border: 4px double;
}
.a,.d,.g,.j{background-color: #FFEB3B}
.b,.e,.h,.k{background-color: #8BC34A}
.c,.f,.i{background-color: brown}
#tg{
	position: fixed;
	right: 30px;
	bottom: 0px;
	animation: move 5s;
}
