img{
	max-width: 500px;
	border: 2px groove;
	}
p{
	font-style: normal;
	}
h1	{
	text-align: center;
	color: #203050;
	font-style: normal;
	}
a:link 		{
			color: rgb(100,150,100);
			}
a:hover 	{
			color: rgb(100,150,100);
			}
a:active	{
			color: rgb(100,150,100);
			}
a:visited 	{
			color: rgb(100,150,100);
			}