img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	height: 150px;
	}
h1	{
	text-align: center;
	color: #203050;
	font-style: normal;
	}
a:link 	{
			color: black;
			}
a:hover 	{
			color: black;
			}
a:active	{
			color: black;
			}
a:visited 	{
			color: black;
			}
span{
	color: #ff9900;
	font-style: normal;
	}
#mc{max-width: 600px;
	height: 30px;
	background-color: #00fff0;
}
#mc a:hover{background-color: white;}
.td{
	width: 25%;
	max-width: 1000px;
	float: left;
	height: 30px;
	text-align: center;
	font-weight: bold;
}
.tc{
	background-color: #e8ff11

}
.sp{
	background-color: #11ff11;
}
.tt{
	background-color: #03A9F4;
}
.dd{
	background-color: #f800ffed
}
.mt{
	max-width: 1000px;
	float: left;
	height: 250px;
	width: 30%;
	padding: 5px;
	margin: 2px;
	border: 4px double;
}
.m{
	background-color: #112535;
}
.a,.d,.g,.j{background-color: #FFEB3B}
.b,.e,.h,.k{background-color: #8BC34A}
.c,.f,.i{background-color: brown}