*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 .card {
	position: relative;
	width: 20%;
	float: left;
}
img {
	width: 100%;
	max-height: 100%;
}
.card .back{
	transform: rotateY(0deg);
	position: absolute;
	top: 0;
	left: 0;
}

.card .front{
	transform: rotateY(180deg);
}
.card .front, .card .back {
	transition: all 1s;
	backface-visibility: hidden;
}
.dao .back{
	transform: rotateY(180deg);
}
.dao .front{
	transform: rotateY(0deg);
}